In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data_set=pd.read_csv("Churn_analysis_dataset.csv")
copy_data=data_set.copy()
data_set.head()

,Unnamed: 0,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,29.85,29.85,0,1,0,0,1,...,0,1,0,0,0,1,0,0,1,0
1,1,0,34,56.95,1889.50,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,1
2,2,0,2,53.85,108.15,1,0,1,1,0,...,0,1,0,0,0,1,0,0,0,1
3,3,0,45,42.30,1840.75,0,0,1,1,0,...,0,0,1,0,1,0,1,0,0,0
4,4,0,2,70.70,151.65,1,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [5]:
copy_data.drop("Unnamed: 0",axis=1,inplace=True)

In [6]:
copy_data.columns.values

array(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges',
       'Churn', 'gender_Female', 'gender_Male', 'Partner_No',
       'Partner_Yes', 'Dependents_No', 'Dependents_Yes',
       'PhoneService_No', 'PhoneService_Yes', 'MultipleLines_No',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'OnlineSecurity_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No', 'OnlineBackup_No internet service',
       'OnlineBackup_Yes', 'DeviceProtection_No',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No', 'TechSupport_No internet service',
       'TechSupport_Yes', 'StreamingTV_No',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No', 'StreamingMovies_No internet service',
       'StreamingMovies_Yes', 'Contract_Month-to-month',
       'Contract_One year', 'Contract_Two year', 'PaperlessBilling_No',
       'PaperlessBilling_Yes', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype=object)

In [7]:
X=copy_data.drop("Churn",axis=1)

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 45 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            7032 non-null   int64
 1   tenure                                   7032 non-null   int64
 2   MonthlyCharges                           7032 non-null   float64
 3   TotalCharges                             7032 non-null   float64
 4   gender_Female                            7032 non-null   int64
 5   gender_Male                              7032 non-null   int64
 6   Partner_No                               7032 non-null   int64
 7   Partner_Yes                              7032 non-null   int64
 8   Dependents_No                            7032 non-null   int64
 9   Dependents_Yes                           7032 non-null   int64
 10  PhoneService_No                          7032 non-null   int64
 11  PhoneService_Yes                         7032 non-null   int64
 12  MultipleLines_No                         7032 non-null   int64
 13  MultipleLines_No phone service           7032 non-null   int64
 14  MultipleLines_Yes                        7032 non-null   int64
 15  InternetService_DSL                      7032 non-null   int64
 16  InternetService_Fiber optic              7032 non-null   int64
 17  InternetService_No                       7032 non-null   int64
 18  OnlineSecurity_No                        7032 non-null   int64
 19  OnlineSecurity_No internet service       7032 non-null   int64
 20  OnlineSecurity_Yes                       7032 non-null   int64
 21  OnlineBackup_No                          7032 non-null   int64
 22  OnlineBackup_No internet service         7032 non-null   int64
 23  OnlineBackup_Yes                         7032 non-null   int64
 24  DeviceProtection_No                      7032 non-null   int64
 25  DeviceProtection_No internet service     7032 non-null   int64
 26  DeviceProtection_Yes                     7032 non-null   int64
 27  TechSupport_No                           7032 non-null   int64
 28  TechSupport_No internet service          7032 non-null   int64
 29  TechSupport_Yes                          7032 non-null   int64
 30  StreamingTV_No                           7032 non-null   int64
 31  StreamingTV_No internet service          7032 non-null   int64
 32  StreamingTV_Yes                          7032 non-null   int64
 33  StreamingMovies_No                       7032 non-null   int64
 34  StreamingMovies_No internet service      7032 non-null   int64
 35  StreamingMovies_Yes                      7032 non-null   int64
 36  Contract_Month-to-month                  7032 non-null   int64
 37  Contract_One year                        7032 non-null   int64
 38  Contract_Two year                        7032 non-null   int64
 39  PaperlessBilling_No                      7032 non-null   int64
 40  PaperlessBilling_Yes                     7032 non-null   int64
 41  PaymentMethod_Bank transfer (automatic)  7032 non-null   int64
 42  PaymentMethod_Credit card (automatic)    7032 non-null   int64
 43  PaymentMethod_Electronic check           7032 non-null   int64
 44  PaymentMethod_Mailed check               7032 non-null   int64
dtypes: float64(2), int64(43)
memory usage: 2.4 MB

In [9]:
y=copy_data["Churn"]

In [10]:
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

In [ ]:
### Splitting Data

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=100)

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [15]:
model_rf.fit(X_train,y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [16]:
y_pred=model_rf.predict(X_test)

In [17]:
model_rf.score(X_test,y_test)

0.7953091684434968

In [18]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\welcome\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied: joblib>=0.11 in c:\users\welcome\anaconda3\lib\site-packages (from imbalanced-learn) (0.17.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\welcome\anaconda3\lib\site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\welcome\anaconda3\lib\site-packages (from imbalanced-learn) (1.19.2)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\welcome\anaconda3\lib\site-packages (from imbalanced-learn) (0.23.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\welcome\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
from imblearn.combine import SMOTEENN

In [34]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_sample(X,y)

In [35]:
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)

In [37]:
model_rf_smote=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [38]:
model_rf_smote.fit(xr_train1,yr_train1)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [39]:
yr_predict1 = model_rf_smote.predict(xr_test1)

In [40]:
model_score_r1 = model_rf_smote.score(xr_test1, yr_test1)

In [41]:
print(model_score_r1)

0.9403747870528109

In [42]:
import pickle

In [43]:
filename = 'model.sav'

In [45]:
pickle.dump(model_rf_smote, open(filename, 'wb'))

In [46]:
load_model = pickle.load(open(filename, 'rb'))

In [47]:
load_model.score(xr_test1, yr_test1)

0.9403747870528109